.primaryColor{
    color: #c3073f;
}
.primaryDarkColor{
    color: #1a1a1d;
}
.successColor{
    color: #0197f6;
}
.infoColor{
    color: #0197f6;
}
.errorColor{
    color: #f2af29;
}
.warningColor{
    color: #f2af29;
}