:root{
    /**colors */
    --primaryDarkColor: #1a1a1d;
    --primaryColor: #c3073f;
    --successColor: #0197f6;
    --infoColor: #0197f6;
    --errorColor: #f2af29;
    --errorColor: #f2af29;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

body .Toastify .Toastify__toast-container .Toastify__toast--success{
    background: var(--successColor);
}

body .Toastify .Toastify__toast-container .Toastify__toast--error{
    background: var(--errorColor);
}