.global{
    margin: 100;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #eee;
}

html, body, #root {
    height: 100%;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 360px;
    background: #FFF;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}